*{
    margin: 0;
    padding: 0;
  }
  a:link, a:visited { 
    text-decoration: none;
    color: red;
  }
  header{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .nav__menu{
    list-style: none;
  }
  main{
    display: flex;
    flex-direction: column;
    margin: 0 25% 15vh 25%;
  }
  footer{
    color: white;
    background-color: black;
  }