*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;
    color: rgb(43,52,69);
  }
  a:link, a:visited{
    color: rgb(43, 52, 69);
    text-decoration: none;
  }
  a:hover{
    color: rgb(254, 105, 106);
  }
  header{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(241, 245, 249);
  }
  .nav__title{
    font-size: 30px;
    font-weight: 700;
  }
  .nav__title--special{
    font-family: Georgia, 'Times New Roman', serif;
    font-style: italic;
    font-size: 50px;
  }
  .nav__title--special:hover {
    color: rgb(254, 105, 106);
  }
  .nav__menu{
    list-style: none;
    font-weight: bold;
    font-size: 12px;
  }
  main{
    display: flex;
    flex-direction: column;
    margin: 0 25% 15vh 25%;
  }
  main a:link, main a:visited {
    text-decoration: none;
    color: rgb(254, 105, 106);
  }
  
  main a:hover {
    color: rgba(254, 105, 106, 0.5);
  }
  .users{
    list-style: none;
  }
  .users__user::before {
    content: url("/img/users.svg");
    display: inline-block;
    width: 16px; 
    height: 16px; 
    margin-right: 5px; 
  }
  .uses{
    list-style: none;
  }
  .uses__use::before{
    content: url("/img/users.svg");
    display: inline-block;
    width: 16px; 
    height: 16px; 
    margin-right: 5px; 
  }
  footer{
    color: rgb(255,255,255);
    background-color: rgb(0,0,0);
  }