*{
    list-style: none;
  }
  a:link, a:visited { 
    text-decoration: none;
    color: black;
  }
  header{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  main{
    display: flex;
   
    flex-direction: column;
  }